
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@using PagedList;
@using PagedList.Mvc;
@model IPagedList<ShopBanHoa.Areas.Admin.Models.SanPham>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
    <link href="~/Assets/admin/css/custom-pagination.css" rel="stylesheet" />
    <title>Index</title>
    <style>
        .pagination {
            display: flex;
            padding-left: 0;
            list-style: none;
            border-radius: 0.25rem;
        }

            .pagination a {
                color: black;
                border: 1px solid transparent;
                border-radius: 50%;
                padding: 0;
                min-width: 2rem;
                line-height: 2rem;
                height: 2rem;
                text-align: center;
                margin: 0px 5px;
                display: block;
                position: relative;
            }

            .pagination .page-item.active a {
                background: #3f87f5;
                border-color: transparent;
            }

        .page-item.active a {
            z-index: 1;
            color: #fff;
        }

        .pagination .page-item.active {
            color: red;
        }
    </style>
</head>
<body>
    <h1>Sản phẩm</h1>
    <div class="row">
        <div class="col-md-3">
            <div class="btn btn-default">
                @Html.ActionLink("Thêm sản phẩm", "Create")

            </div>
        </div>

        <div class="col-md-9">
            @using (Html.BeginForm("Index", "Product", FormMethod.Post))
            {
                <div class="row">
                    <div class="col-md-8 p-0 text-right">
                        <input type="text" name="searchstring" value="@ViewBag.Search" class="p-2" />
                    </div>

                    <div class="col-md-4 pxy-2">
                        <button type="submit" class="btn btn-secondary">Tìm kiếm</button>
                    </div>
                </div>

            }
        </div>
    </div>

    <div>
        <div class="m-t-25">
            <div class="table-responsive">
                <table class="table table-hover e-commerce-table">
                    <thead>
                        <tr>
                            <th>
                                <div class="checkbox">
                                    <input id="checkAll" type="checkbox">
                                    <label for="checkAll" class="m-b-0"></label>
                                </div>
                            </th>
                            <th>ID</th>
                            <th>Product</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Price Sale</th>
                            <th>Sale Percent</th>
                            <th>Stock</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <input id="check-item-@item.MaSP" type="checkbox">
                                    <label for="check-item-@item.MaSP" class="m-b-0"></label>
                                </div>
                            </td>
                            <td>
                                @item.MaSP
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img class="img-fluid rounded" src="~/Assets/admin/images/product/@item.AnhSP" style="max-width: 60px" alt="">
                                    <h6 class="m-b-0 m-l-10">@item.TenSP</h6>
                                </div>
                            </td>
                            <td>

                                @item.DanhMuc.TenDM
                            </td>
                            <td>@item.GiaSP</td>
                            <td>@item.GiaSale</td>
                            <td>@item.SalePercent</td>
                            <td>@item.SoLuong</td>
                            <td>
                                <div class="d-flex align-items-center">
                                    @if (item.SoLuong > 0)
                                    {
                                        <div class="badge badge-success badge-dot m-r-10"></div>
                                        <div>
                                            <text>Còn hàng</text>
                                        </div>

                                    }
                                    else
                                    {
                                        <div class="badge badge-danger badge-dot m-r-10"></div>
                                        <div>
                                            <text>Hết hàng</text>
                                        </div>
                                    }

                                </div>
                            </td>
                            <td class="text-right">

                                <button class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                                    <a href="~/Admin/Product/Edit?id=@item.MaSP">
                                        <i class="anticon anticon-edit">

                                        </i>
                                    </a>

                                </button>
                                <button class="btn btn-icon btn-hover btn-sm btn-rounded">
                                    <a href="~/Admin/Product/Details?id=@item.MaSP">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>

                                </button>
                                <button class="btn btn-icon btn-hover btn-sm btn-rounded">
                                    <a href="~/Admin/Product/Delete?id=@item.MaSP">
                                        <i class="anticon anticon-delete"></i>

                                    </a>
                                </button>


                            </td>
                        </tr>
                            }


                        </tbody>
                    </table>
                </div>
                @Html.PagedListPager(Model,
                    page => Url.Action("Index", new { page , @searchstring = @ViewBag.Search }),
                    new PagedListRenderOptions {

                        UlElementClasses = new[] { "pagination",},

                        LiElementClasses = new string[] { "page-item" }

                    })




            </div>
        </div>

    </body>
</html>


